@page
@model ClubTreasurer.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<h2>Transactions</h2>

<p>
    <a asp-page="Import">Import</a> |
    <a asp-page="./Index" asp-route-typeFilter="in">Incoming</a>  |
    <a asp-page="./Index" asp-route-typeFilter="out">Outgoing</a> |
    <a asp-page="./Index">Back to full List</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.BankTransactions[0].BookingDate)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankTransactions[0].Amount)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.BankTransactions[0].Account.Name)
                </a>

            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ReferenceSort">
                    @Html.DisplayNameFor(model => model.BankTransactions[0].Reference)
                </a>
            </th>
            <th>
                @*<a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                    @Html.DisplayNameFor(model => model.BankTransactions[0].TransactionCategory)
                </a>*@
                <form asp-page="./Index" method="get">
                    <select asp-for="@Model.CategoryFilterId" 
                            value="@Model.CategoryFilterId"
                            onchange="this.form.submit()" 
                            asp-items="ViewBag.Categories"></select>
                </form>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BankTransactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @if (@item.Account.PersonId != null)
                    {
                        <a asp-page="/Players/Details" asp-route-id="@item.Account.PersonId">
                            @Html.DisplayFor(modelItem => item.Account.Name)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Account.Name)
                    }
                </td>
                <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width:400px;">
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    <a asp-page="/TransactionCategories/Details" asp-route-id="@item.TransactionCategory.ID">
                        @Html.DisplayFor(modelItem => item.TransactionCategory.Name)
                    </a>
                    
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.BankTransactions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BankTransactions.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BankTransactions.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-typeFilter="@Model.TypeFilter"
   asp-route-categoryFilterId="@Model.CategoryFilterId"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BankTransactions.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-typeFilter="@Model.TypeFilter"
   asp-route-categoryFilterId="@Model.CategoryFilterId"
   class="btn btn-default @nextDisabled">
    Next
</a>
