@page
@model ClubTreasurer.Pages.BankAccounts.IndexModel

@{
    ViewData["Title"] = "Bank Accounts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@if(Model.BankAccount != null) { 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].LastModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BankAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (@item.Person != null)
                {
                    <a asp-page="/Players/Details" asp-route-id="@item.Person.ID">
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
