@page
@model ClubTreasurer.Pages.Players.IdCardModel

@{
    ViewData["Title"] = "IdCard";
}

<h2>Id Card</h2>

<div>
    <h4>@Model.IdCard.Player.FullName</h4>
    <hr />
    <div id="IdCard" style="background-color: @Model.IdCard.BackgroundColor">
        <div class="heading">
            <label>Rugby Club Innsbruck</label>
        </div>
        <div class="duration">
            <label>@Model.IdCard.FeesPaidUntil</label>
        </div>
        <img src="@Model.IdCard.ImageUrl" alt="Player Image" class="player-image" />
        <div class="stats name">
            <label><span class="prefix">Name:</span> @Model.IdCard.Player.FullName</label>
        </div>
        <div class="stats birthdate">
            <label><span class="prefix">Geb:</span> @Html.DisplayFor(model => Model.IdCard.Player.DOB)</label>
        </div>
        <div class="stats position">
            <label><span class="prefix">Pos:</span> @Html.DisplayFor(model => Model.IdCard.Player.Position.Name)</label>
        </div>
        <img class="logo" src="~/images/logo.png" />
    </div>
    
</div>
